<div id="footer">

    <div id="footer-ppal">

        <div class="footer-text">
            <div class="footer-logo">
                <img src="/images/TzeentchMark.webp">
            </div>
            <div class="footer-buttons">
                <p><a href="/gallery">GALLERY</a></p>
                <p><a href="/upload">ARTWORK</a></p>
            </div>
        </div>

        <div class="footer-text">
            <div class="footer-logo">
                <p>© 2023 Nine Eyes S.L. All rights reserved.</p>
            </div>
            <div class="footer-brands">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                
            </div>
        </div>

    </div>

</div>