<nav id="nav">  
    <img src="images/TzeentchMark.webp">
    <h2><a href="/">Nine Eyes</a></h2>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
    <ul id="nav-buttons">
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="#">Contest</a></li>
    </ul>
  </nav>