<div id="css-script-menu">
    <div class="css-script-center">
     
      <div class="css-script-ads"><script type="text/javascript"><!--
        google_ad_client = "ca-pub-2783044520727903";
        /* CSSScript Demo Page */
        google_ad_slot = "3025259193";
        google_ad_width = 728;
        google_ad_height = 90;
  //-->
  </script>
        <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script></div>
      <div class="css-script-clear"></div>
    </div>
  </div>
  <input checked=true id="sliderSwitch" class="slider__switch" type="checkbox" name="sliderSwitch" hidden />
  <div class="slider fade-in-image">
    <ul class="slider__list">
      <li class="slider__slide"><img src="/images/artists/2artist6.jpg" alt="Slide 1" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/2artist5.jpg" alt="Slide 2" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/3artist2.jpg" alt="Slide 3" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/2artist4.jpg" alt="Slide 4" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/1artist3.jpg" alt="Slide 4" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/3artist1.jpg" alt="Slide 4" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/1artist1.jpg" alt="Slide 4" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/3artist3.jpg" alt="Slide 4" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/2artist1.jpg" alt="Slide 4" style="width:650px ;height: 420px;"/></li>
      <li class="slider__slide"><img src="/images/artists/2artist6.jpg" alt="Slide 4" style="width:650px ;height: 420px;"/></li>
    </ul>
  </div>
  <div class="slider__control">
    <label for="sliderSwitch"></label>
  </div>