<div id="ppal">
    <h3>Discover your own painting style <br> and a wide array of people providing huge<br>pieces of art to this community</h3>

    <div id="buttons">
        <div class="boton">
            <img src="https://www.wargamer.com/wp-content/sites/wargamer/2022/10/golden-demon-winners-open-tau-bust.jpg">
            <h2>Gallery</h2>
            <a href="/gallery" class="btn">Click Here</a>
        </div>
        <div class="boton">
            <img src="/images/gallery.png">
            <h2>Artwork</h2>
            <a href="/upload" class="btn">Click Here</a>
        </div>
    </div>
</div>