<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HOJAS DE ESTILOS -->
    <link rel="stylesheet" href="/stylesheets/nav/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/gallery.css">
    <link rel="stylesheet" href="/stylesheets/grid/gallery_grid.css">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- FUENTES UTILIZADAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metamorphous&family=Nunito&display=swap" rel="stylesheet">
    <title>Gallery</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./gallery/grid.ejs') %>
</body>
</html>