<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- HOJAS DE ESTILOS -->
    <link rel="stylesheet" href="/stylesheets/nav/nav_style.css">
    <link rel="stylesheet" href="/stylesheets/upload.css">
    <link rel="stylesheet" href="/stylesheets/footer/footer.css">


    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- FUENTES UTILIZADAS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Metamorphous&family=Nunito&display=swap" rel="stylesheet">


    <!-- CDN iQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  
    <title>Posts</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>
  <% if (user) { %>
      <form  method="POST" action="/upload" enctype="multipart/form-data" class="upload-section">
          <div>
              <h2>Share your <span>Artwork</span>!</h2>
              <input name="image" type="file"/>
              <input type="submit" value="Upload now!" id="btn">
          </div>
      </form>
  <% } else { %>
      <div class="upload-section">
          <div>
              <h2>Share your <span>Artwork</span>!</h2>
              <div>
                  <h3><a href="/authentication/login">Log In</a></h3>
                  <p>or</p>
                  <h4><a href="/authentication/register">Create an Account</a></h4>
              </div>
          </div>
      </div>
  <% } %>

  <div class="upload-gallery">
      <div class="image-grid">
          <% images.forEach(image => { %>
              <div class="image-item">
                  <img src="<%= image %>" alt="<%= image %>">
              </div>
          <% }); %>
      </div>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>

</html>