<div class="gallery">
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/1" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/2" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/3" />
      </div>
    </div>
    <div class="gallery__item gallery__item--v-2">
      <div class="embed embed--1-2">
        <img src="https://source.unsplash.com/collection/582659/4" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/5" />
      </div>
    </div>
    <div class="gallery__item gallery__item--h-2">
      <div class="embed embed--2-1">
        <img src="https://source.unsplash.com/collection/582659/6" />
      </div>
    </div>
    <div class="gallery__item gallery__item--v-2">
      <div class="embed embed--1-2">
        <img src="https://source.unsplash.com/collection/582659/7" />
      </div>
    </div>
    <div class="gallery__item gallery__item--h-2">
      <div class="embed embed--2-1">
        <img src="https://source.unsplash.com/collection/582659/8" />
      </div>
    </div>
    <div class="gallery__item gallery__item--v-2">
      <div class="embed embed--1-2">
        <img src="https://source.unsplash.com/collection/582659/9" />
      </div>
    </div>
    <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/10" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/11" />
      </div>
    </div>
    <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/12" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/13" />
      </div>
    </div>
    <div class="gallery__item gallery__item--h-2 gallery__item--v-3">
      <div class="embed embed--2-3">
        <img src="https://source.unsplash.com/collection/582659/14" />
      </div>
    </div>
    <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/15" />
      </div>
    </div>
    <div class="gallery__item gallery__item--v-2">
      <div class="embed embed--1-2">
        <img src="https://source.unsplash.com/collection/582659/16" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/17" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/18" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/19" />
      </div>
    </div>
    <div class="gallery__item">
      <div class="embed">
        <img src="https://source.unsplash.com/collection/582659/20" />
      </div>
    </div>
    <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/21" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/22" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/23" />
        </div>
      </div>
      <div class="gallery__item gallery__item--v-2">
        <div class="embed embed--1-2">
          <img src="https://source.unsplash.com/collection/582659/24" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/25" />
        </div>
      </div>
      <div class="gallery__item gallery__item--h-2">
        <div class="embed embed--2-1">
          <img src="https://source.unsplash.com/collection/582659/26" />
        </div>
      </div>
      <div class="gallery__item gallery__item--v-2">
        <div class="embed embed--1-2">
          <img src="https://source.unsplash.com/collection/582659/27" />
        </div>
      </div>
      <div class="gallery__item gallery__item--h-2">
        <div class="embed embed--2-1">
          <img src="https://source.unsplash.com/collection/582659/28" />
        </div>
      </div>
      <div class="gallery__item gallery__item--v-2">
        <div class="embed embed--1-2">
          <img src="https://source.unsplash.com/collection/582659/29" />
        </div>
      </div>
      <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/30" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/31" />
        </div>
      </div>
      <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/32" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/33" />
        </div>
      </div>
      <div class="gallery__item gallery__item--h-2 gallery__item--v-3">
        <div class="embed embed--2-3">
          <img src="https://source.unsplash.com/collection/582659/34" />
        </div>
      </div>
      <div class="gallery__item gallery__item--h-2 gallery__item--v-2">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/35" />
        </div>
      </div>
      <div class="gallery__item gallery__item--v-2">
        <div class="embed embed--1-2">
          <img src="https://source.unsplash.com/collection/582659/36" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/37" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/38" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/39" />
        </div>
      </div>
      <div class="gallery__item">
        <div class="embed">
          <img src="https://source.unsplash.com/collection/582659/40" />
        </div>
      </div>
  </div>