
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">

<h1>Artist Gallery</h1>

<div class="gallery">
	<div class="gallery__column">
		<a href="https://www.instagram.com/sergiocalvominiatures/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/1artist1.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Sergio Calvo</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/krzysztofkobalczyk/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/3artist3.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Krzysztof Kobalczyk</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/craftworldstudio/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/1artist2.png" class="gallery__image">
				<figcaption class="gallery__caption">Craftworld Studio</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/sik_willy_miniature_art/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/1artist4.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Will Hahn</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="https://www.instagram.com/miniacal_/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/1artist5.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Scott Walter 'Miniac'</figcaption>
			</figure>
		</a>
		
		<a href="https://www.instagram.com/ninj0n/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/1artist6.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Jon Ninas 'Ninj0n'</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/krzysztofkobalczyk/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/2artist3.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Krzysztof Kobalczyk</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/sergiocalvominiatures/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/2artist1.jpg"  class="gallery__image">
				<figcaption class="gallery__caption">Sergio Calvo</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="https://www.instagram.com/craftworldstudio/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/2artist2.png" class="gallery__image">
				<figcaption class="gallery__caption">Craftworld Studio</figcaption>
			</figure>
		</a>
		
		<a href="https://www.instagram.com/sik_willy_miniature_art/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/2artist4.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Will Hahn</figcaption>
			</figure>
		</a>


		<a href="https://www.instagram.com/miniacal_/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/2artist5.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Scott Walter 'Miniac'</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/krzysztofkobalczyk/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/1artist3.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Krzysztof Kobalczyk</figcaption>
			</figure>
		</a>
	</div>
	
	<div class="gallery__column">
		<a href="https://www.instagram.com/ninj0n/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/2artist6.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Jon Ninas 'Ninj0n'</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/sergiocalvominiatures/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/3artist1.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Sergio Calvo</figcaption>
			</figure>
		</a>
		
		<a href="https://www.instagram.com/craftworldstudio/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/3artist2.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Craftworld Studio</figcaption>
			</figure>
		</a>

		<a href="https://www.instagram.com/sergiocalvominiatures/" target="_blank" class="gallery__link">
			<figure class="gallery__thumb">
				<img src="/images/artists/4artist1.jpg" class="gallery__image">
				<figcaption class="gallery__caption">Sergio Calvo</figcaption>
			</figure>
		</a>
	</div>
</div>
