
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }

body { line-height: 1 }

ol, ul { list-style: none }

blockquote, q { quotes: none }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}


hidden { display: none; }


/* USO DE KEYFRAMES */
@-webkit-keyframes 
autoplay {   /* POSICION DEL SLIDER */
    0% {
   left: 0;
  }
    /* posicion de la 2a slide */
    10% {
   left: -40.625rem;
  }
    /* posicion de la 3a slide */
    20% {
   left: -81.25rem;
  }
    /* posicion de la 5a slide */
    30% {
   left: -121.875rem;
  }
    /* posicion de la 5a slide */
    40% {
      left: -162.525rem;
     }
    /* posicion de la 6a slide */
    50% {
      left: -203.15rem;
     }
       /* posicion de la 7a slide */
    60% {
      left: -243.775rem;
     }
       /* posicion de la 8a slide */
    70% {
      left: -284.4rem;
     }
       /* posicion de la 9a slide */
    80% {
      left: -325.025rem;
     }
       /* posicion de la 10a slide */
    100% {
      left: -365.65rem;
     }
}
@keyframes 
autoplay {   /* POSICION DEL SLIDER */
    0% {
   left: 0;
  }
    /* posicion de la 2a slide */
    10% {
   left: -40.625rem;
  }
    /* posicion de la 3a slide */
    20% {
   left: -81.25rem;
  }
    /* posicion de la 4a slide */
    30% {
   left: -121.875rem;
  }
    /* posicion de la 5a slide */
    40% {
      left: -162.525rem;
     }
    /* posicion de la 6a slide */
    50% {
      left: -203.15rem;
     }
       /* posicion de la 7a slide */
    60% {
      left: -243.775rem;
     }
       /* posicion de la 8a slide */
    70% {
      left: -284.4rem;
     }
       /* posicion de la 9a slide */
    80% {
      left: -325.025rem;
     }
       /* posicion de la 10a slide */
    100% {
      left: -365.65rem;
     }
}


.slider {
  position: relative;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: 40.625rem;
  height: 26.25rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.25);
}

.slider__list {
  position: absolute;
  left: 0;
  width: 162.5rem;
  display: flex;
  flex-direction: row;
}

.slider__slide { float: left; }


.slider__slide img{
    object-fit: cover;
}

/*BOTON DE AUTOPLAY*/

.slider__control {
  margin-right: auto;
  margin-left: auto;
  width: 4.5rem;
  font-family: sans-serif;
}

.slider__control label {
  position: relative;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 4.5rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: transparent;
  background: #ddd;
  border-radius: 2rem;
  cursor: pointer;
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

.slider__control label:before {
  content: "autoplay";
  position: absolute;
  top: 2.5rem;
  left: 0;
  color: #333;
 font-size: .95rem;
  font-weight: bold;
  text-transform: uppercase;
}

.slider__control label:after {
  content: "";
  position: absolute;
 top: .25rem;
 left: .25rem;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  background: #fff;
  -webkit-transition: left 1s ease-out;
  transition: left 1s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slider__switch:checked + .slider > .slider__list {
  -webkit-name: autoplay;
  animation-name: autoplay;
/*TIEMPO DE LA ANIMACION TOTAL DEL SLIDER DESDE QUE EMPIEZA*/
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.slider__switch:checked + .slider + .slider__control > label { background: #7799C0; }

.slider__switch:checked + .slider + .slider__control > label:after { left: 2.75rem; }


